<!DOCTYPE html>
<html>
<head>
    <title>Login - Email Analyzer</title>
</head>
<body>

<h2>Please Login</h2>

<form action="/loginpage" method="post">
    <label>Email:</label><br>
    <input type="text" name="login_email" required><br><br>
    
    <label>Secret Key:</label><br>
    <input type="password" name="login_secret_key" required><br><br>
    
    <button type="submit">Login</button>
</form>

<p>Don't have an account? <a href="/signuppage">Signup here</a></p>
<!-- Show an error message if the login fails -->
{% if error %}
    <p style="color: red;"><b>{{ error }}</b></p>
{% endif %}

</body>
</html>